<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente de Pagos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="mb-4">Bienvenido al Componente de Pagos</h1>
            <button class="btn btn-primary" onclick="consultarRecibo()">Consultar Recibo Matrícula</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function consultarRecibo() {
            const url = "http://10.128.0.51:8000/pagos/generar_recibo_prematricula/?codigoEstudiante=202220287&fecha=2024-10-30";
            window.location.href = url;
        }
    </script>
</body>
</html>
